= form_for @post do |f|
  - if @post.errors.any?
    %ul.form-errors
      - @post.errors.full_messages.each do |message|
        %li.error= message

  .field
    = f.label "Titulo", class: 'label'
    .control
    = f.text_field :title, class: 'input'
  .field
    = f.label "Contenido"
    .control
    = f.text_area :content, class: 'textarea'
  .actions
    = f.submit 'Publicar', class: 'button is-primary is-fullwidth'
