%h2.title.is-3 %Perfil
%hr

= form_tag '/sign_up_validation', method: :post do
    %ul
    - @user.errors.full_messages.each do |error|
     %li= error

    .field
        %label{for: "user_name", class: "label"} Nombre de usuario
        .control
            = text_field_tag "user[username]", @user.username, class: "input"

    .field
        %label{for: "user_email", class: "label"} Correo electrónico
        .control
            = email_field_tag "user[email]", @user.email, required: true, class: "input"

    .field
        %label{for: "user_name", class: "label"} Nombre
        .control
            =text_field_tag "user[name]", @user.name, class: "input"

    .actions.has-text-right
        = submit_tag "Completar registro", class: "button is_success is-fullwidth"